# CMake build directory
**/build/
**/cmake-build-*/
**/CMakeLists.txt.user

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out


# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Backup/temporary files
*~
*.swp
*.tmp